<!DOCTYPE >
<html> 
<head> 
  <title> My Website! </title>
</head>

<body>
  
  <h1> Welcome to the World of Rice Gorls! </h1>
  
  <h2> We're a Level 1 Kode With Klossy Power Group from all over the world! (Mostly Asia)</h2>
  
  <h4> We are the Rice Gorls because we are Asian food enthusiasts! "We are so Global" - Karlie Kloss </h4>
  
  
  <h4> Meet the team: Leyla, Christina, Wendy, & Jevina</h4>
  
</body>



</html>