<!DOCTYPE html>
<html>
  <head>
    <title>Jevina</title>
  </head>
  <body>
  <h1>About Jevina Wong!</h1>
  <h3>Age: 16 </h3>
  <h3>Hometown: Brooklyn, New York</h3>
  <h3>Favorite Asian Food: Sushi and Sashimi</h3>
  <h4>I wanted to join KWK because of the environment. I didn't feel like I'd be able to comfortably grow in the CS programs in my school, but I the KWK community has been everything I'd hoped for and more. Coming out of the camp, I want to continue working on my HTML and CSS skills and be able to create my own fully cuntional and beautiful website that will continue my personal mission in advocating for the Asian-American presence in entertainment, business, and more.</h4>
  </body>
</html>