<!DOCTYPE html>
<html>
  <head>
    <title>
      GroupInfo
    </title>
  </head>
  
  <body>
    
    <h1> <p> Hello, we are RICE GIRLS! </p>
    <p> About Wendy Tao </p> </h1>
    
    <h3> <p> Age: 18 </p>
    <p>Hometown: Guangzhou, China</p>
    <p>Fave Asian food: Dim Sum</p>
    <p>Why I did KWK: KWK empowers women to code and I have been intersted in computer science </p></h3>
    
    
  </body>
</html>